.typeTag {
  --bgColor: white;
  --textColor: var(--c-text);
  font-size: 10px;
  margin-right: 5px;
  border: 1px solid #ececec;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: var(--textColor);
  background-color: var(--bgColor);
}
